/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	font-family: lato;
}

header {
	background:url('https://ie.wampi.ru/2022/04/27/header_background.png') 100% 100%/cover no-repeat;
	background-attachment: fixed;
}

.conteiner {
	padding: 100px 0px 100px 0px;
}

.header__logos {
	margin: 0px auto;
	max-width: 800px;
}

.header__list{
	display: flex;
}

.header__list li:last-child{
	margin: 25px 0px 0px 30px;
}

.header__text {
	color: #ffffff;
	margin: 0 auto;
	letter-spacing: 0.16em;
}

.header__text p:first-child {
	font-size: 34px;
	font-weight: 900;
	text-transform: uppercase;
	text-align:center ;
	padding: 159px 0px 0px 0px;
	margin: 0px 0px 20px 0px;

}

.header__text p:last-child{
	font-size: 26px;
	position: relative;
	margin: 0px 0px 100px 0px;
	text-align:center ;
	padding: 0px 0px 50px 0px;
}

.header__text p:last-child::after{
	content: '';
	position: absolute;
	width:105px ;
	height: 2px;
	background-color: #ffffff;
	bottom: 0;
	left:50%;
	margin: 0px 0px 0px -52px;
} 

.header__link {
	max-width: 18px;
	margin: 0 auto;
}

.about {
	padding: 100px 0px 100px 0px;
	background-color: #f3f3f3;	
}

.content {
	max-height: 100%;
	max-width:100%
}


.about__columns {
	display: flex;
	margin: 0px 50px;
	padding: 80px 0px 0px 0px;
}

.about__right-column {
	margin: 0px 0px 0px 100px;
}
.about__inform li{
	font-size: 20px;
	margin: 0px 0px 30px 0px;
}

.inf-title {
	font-weight: 600;
	margin: 0px 0px 10px 0px;
}

.about__title {
	max-width: 100%;
}

.title__text {
	margin: 0 auto;
	padding: 0px 0px 35px 0px;
}

.line {
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.16em;
	color: #000000;
	text-align: center;
	position: relative;
}

.line::after{
	position: absolute;
	content: '';
	bottom: 0;
	left: 50%;
	width: 81px;
	height: 1px;
	background-color: #000000;
	margin: 0px 0px 0px -40px;
}

.goals {
	padding: 100px 0px 100px 0px;
}

.goals__list {
	margin: 80px 0px 0px 50px;
	font-size: 20px;
}

.goals__list li{
	margin: 0px 0px 20px 0px;
}

.goals__list li::before{
	content: url(https://ie.wampi.ru/2022/04/27/header_icon_yellow.png);
	margin: 0px 20px 0px 0px;
}

.time {
	background-color: #f3f3f3;
	padding: 100px 0px 90px 0px;
}

.time__columns {
	display: flex;
	font-size: 20px;
	max-width: 450px;
	margin: 0 auto;
	padding: 80px 0px 0px 0px;
}

.time__left {
	margin: 0px 200px 0px 0px;
}

.weeklist li,.timelist li {
	margin: 0px 0px 20px 0px;
}

.classes {
	padding: 100px 0px ;
	font-size: 20px;
}

.classes__title {
	margin: 0px 0px 80px 0px;
}

.classes__titles-row {
	position: relative;	
}

.titles-list {
	display: flex;
	margin: 0px 0px 20px 0px;
}

.titles-list li{
	flex: 0 1 33.333%;
	text-align: center;
	font-weight: 600;
}

.classes__titles-row::after{
	position: absolute;
	content: '';
	bottom: -15%;
	left: 10%;
	width: 80%;
	height: 3px;
	background-color: #000000;
}


.row{
	display: flex;
}

.row li{
	flex: 0 1 33.333%;
	text-align: center;
	margin: 0px 0px 20px 0px;
}

.contacts {
	background: url('https://ie.wampi.ru/2022/04/27/partners_background.png') 100% 100%/cover no-repeat;
}

.contacts__content {
	max-width: 300px;
	margin: 0 auto;
	padding: 100px 0px 50px 0px;
}

.contacts__text{
	color: #ffffff;
	padding: 0px 0px 35px 0px;
	margin: 0px 0px 50px 0px;
}

.contacts__text::after{
	background-color: #ffffff;
}

.contacts__columns {
	display: flex;
	justify-content: space-between;
}

.tt{
	transform: scale(1.2);
	transition: all 0.5s ease 0s;
}

.contacts__logo:hover{
	transform: scale(1.5);
	transition: all 0.5s ease 0s;
}



